@charset "UTF-8";
body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.header {
  height: 100px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 0 50px;
}

.header__logo {
  width: 100px;
  z-index: 9;
}

.hamburger {
  z-index: 10;
  width: 100px;
  height: 100px;
  background-color: #fc2c2c;
  border-radius: 50%;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.hamburger span {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: azure;
  position: absolute;
  left: 20px;
  color: white;
  border-radius: 3px;
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger span:nth-child(1) {
  top: 30px;
}

.hamburger span:nth-child(2) {
  top: 50px;
}

.hamburger span:nth-child(3) {
  top: 70px;
}

.hamburger.active span:nth-child(1) {
  top: 50px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.hamburger.active span:nth-child(2) {
  background-color: rgba(255, 255, 255, 0);
}

.hamburger.active span:nth-child(3) {
  top: 50px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

@media (max-width: 900px) {
  .header__inner {
    padding: 25px 25px 0 25px;
  }
  .header__inner .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
  }
  .header__inner .hamburger span {
    left: 15px;
    width: 40px;
  }
  .header__inner .hamburger span:nth-child(1) {
    top: 24px;
  }
  .header__inner .hamburger span:nth-child(2) {
    top: 34px;
  }
  .header__inner .hamburger span:nth-child(3) {
    top: 44px;
  }
  .hamburger.active span:nth-child(1) {
    top: 34px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .hamburger.active span:nth-child(2) {
    background-color: rgba(255, 255, 255, 0);
  }
  .hamburger.active span:nth-child(3) {
    top: 34px;
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}

#navi {
  width: 100vw;
  height: 100vh;
  background-color: #fc2c2c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: .9;
  display: none;
  z-index: 9;
}

#navi .logo {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 50px;
}

#navi .navi__menu {
  margin-top: 150px;
}

#navi .navi__menu li {
  margin-bottom: 20px;
}

#navi .navi__menu li a {
  font-weight: bold;
  position: relative;
}

#navi .navi__menu li a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -30px;
  border: 8px solid transparent;
  border-left: 10px solid white;
}

#navi .navi__btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  position: relative;
  border: 1px solid white;
  padding: 20px 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#navi .navi__btn:hover {
  background-color: #fff;
  color: #fc2c2c;
}

#navi .navi__btn::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navi .navi__btn:hover::before {
  position: absolute;
  top: 1px;
  left: 1px;
}

@media (max-width: 900px) {
  #navi .logo {
    top: 25px;
    left: 25px;
  }
}

.mv {
  height: 720px;
  position: relative;
  /*
メインビジュアル
animationを使用して、画像をフェードイン、フェードアウトで切り替えを行う
*/
}

.mv__text {
  position: absolute;
  top: 280px;
  left: 10%;
  z-index: 8;
}

.mv__text p {
  font-size: 46px;
  font-weight: bold;
  text-shadow: 0 4px 6px white;
  line-height: 1.5em;
}

.mv__text a {
  display: block;
  background-color: #fc2c2c;
  border-radius: 10px;
  border-bottom: 6px solid #ac1c1c;
  color: azure;
  padding: 30px 0 30px 50px;
  font-size: 24px;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mv__text a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 100px;
}

.mv__text a:hover,
.mv__text a:hover::before {
  opacity: .9;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.mv .mv__image {
  /*
    1～3枚目の画像のアニメーション実行タイミングを設定
    「animation-delay: 00s;」で実行設定
    */
  /*
    「box-shadow」で画像のまわりをぼかす
    */
  /*
    アニメーション処理
    上の「animation」で15sを指定しているので下記の処理を15秒かけて実行
    0%が0秒を表し、100%が15秒後を表す。

    0%の「opacity: 0;」で非表示の状態からスタートし、
    15%になるまでの間に少しづつ画像を表示（フェードイン）させる。
    そこから30%の時点までは画像を表示させたままの状態を維持し、
    45%の時点に向けて画像を非表示（フェードアウト）する。
    そこから100%まで非表示の状態を維持する。
    */
}

.mv .mv__image li {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  /* 最初は3枚の画像非表示 */
  opacity: 0;
  /*
      アニメーションを実行
      fade：下で定義している「@keyframes fade」を実行
      15s：「@keyframes fade」の処理を15秒かけて実行
      infinite：アニメーションの処理を無限に繰り返す
      */
  -webkit-animation: fade 15s infinite;
          animation: fade 15s infinite;
}

.mv .mv__image li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.mv .mv__image li:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.mv .mv__image li:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.mv .mv__image li img {
  width: 100%;
  height: 720px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mv .mv__image li::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0px 0px 30px 30px #ffffff;
          box-shadow: inset 0px 0px 30px 30px #ffffff;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .main .mv {
    height: 490px;
    padding: 0 20px;
    position: relative;
  }
  .main .mv__text {
    position: absolute;
    bottom: 0;
    left: 16px;
    width: calc(100% - 32px);
  }
  .main .mv__text p {
    margin-top: 40px;
    font-size: 24px;
  }
  .main .mv__text a {
    padding: 20px 0 20px 30px;
    display: block;
    text-align: center;
  }
  .main .mv__text a::after {
    margin-left: 6px;
    margin-right: 30px;
  }
  .main .mv .mv__image li {
    width: 100%;
    height: 300px;
  }
  .main .mv .mv__image li img {
    height: 100%;
  }
}

.cat--title {
  font-size: 2.25em;
  text-align: center;
  font-weight: bold;
}

.cat--title::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: black;
}

@media (max-width: 900px) {
  .cat--title {
    font-size: 1.75rem;
    text-align: center;
    font-weight: bold;
  }
}

.reason {
  padding-top: 150px;
}

.reason__container {
  background-color: #fc2c2c;
  margin-top: 100px;
  padding: 80px 0;
  /*
            slide-left：下で定義している「@keyframes slide-left」を実行
            0.5s：アニメーションが始まってから終わるまでの時間（0.5sかけて実行）
            ease-out：アニメーションの変化（開始時は早く、終了時は緩やかに変化）
            0s：アニメーションが始まるまでの時間（0sですぐに実行）
            1：アニメーションの繰り返し回数（1回）
            forwards：アニメーション終了時の状態をそのまま維持
            */
}

.reason__container .fade-left {
  -webkit-animation: slide-left .8s ease-out 0.3s 1 forwards;
          animation: slide-left .8s ease-out 0.3s 1 forwards;
}

.reason__container #fade-online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 250px;
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
}

.reason__container #fade-online img {
  width: auto;
  height: 60px;
  margin-right: 20px;
}

.reason__container #fade-online p {
  font-size: 36px;
  font-weight: bold;
  color: #fc2c2c;
}

.reason__container #fade-online p span {
  font-weight: normal;
  font-size: 20px;
  color: black;
}

@-webkit-keyframes slide-left {
  0% {
    opacity: .5;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: .5;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.reason__container .fade-right {
  -webkit-animation: slide-right .8s ease-out 0.3s 1 forwards;
          animation: slide-right .8s ease-out 0.3s 1 forwards;
}

.reason__container #fade-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 250px;
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 0;
  opacity: 0;
}

.reason__container #fade-teacher img {
  width: auto;
  height: 60px;
  margin-right: 20px;
}

.reason__container #fade-teacher p {
  font-size: 36px;
  font-weight: bold;
  color: #fc2c2c;
}

.reason__container #fade-teacher p span {
  font-weight: normal;
  font-size: 20px;
  color: black;
}

@-webkit-keyframes slide-right {
  0% {
    opacity: .3;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: .3;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .reason__container {
    padding: 40px 0;
    overflow: hidden;
    margin-top: 50px;
  }
  .reason__container #fade-online {
    height: 130px;
    width: 100%;
    padding: 0 10px 0 20px;
  }
  .reason__container #fade-online p {
    font-size: 24px;
  }
  .reason__container #fade-online img {
    width: auto;
    height: 40px;
    margin-left: 30px;
  }
  .reason__container #fade-teacher {
    height: 130px;
    width: 100%;
    padding: 0 40px 0 20px;
  }
  .reason__container #fade-teacher p {
    font-size: 24px;
  }
  .reason__container #fade-teacher img {
    width: auto;
    height: 40px;
  }
  @-webkit-keyframes slide-left {
    0% {
      opacity: .5;
      -webkit-transform: translateX(-25%);
              transform: translateX(-25%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-10%);
              transform: translateX(-10%);
    }
  }
  @keyframes slide-left {
    0% {
      opacity: .5;
      -webkit-transform: translateX(-25%);
              transform: translateX(-25%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-10%);
              transform: translateX(-10%);
    }
  }
  @-webkit-keyframes slide-right {
    0% {
      opacity: .3;
      -webkit-transform: translateX(25%);
              transform: translateX(25%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
  }
  @keyframes slide-right {
    0% {
      opacity: .3;
      -webkit-transform: translateX(25%);
              transform: translateX(25%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(10%);
              transform: translateX(10%);
    }
  }
}

.student {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.student .card {
  -webkit-animation: hop .8s ease 0.3s 1 forwards;
          animation: hop .8s ease 0.3s 1 forwards;
}

.student .student-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  opacity: 0;
}

.student .student-data .student__data {
  width: 120px;
  margin-right: 30px;
}

.student .student-data .student__data img {
  background-color: #ddd;
  border-radius: 50%;
  max-width: none;
  width: 120px;
}

.student .student-data .student__data p {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5;
}

.student .student-data .card-text {
  width: 60%;
  background-color: #c7e9fd;
  border-radius: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.student .student-data .card-text::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #c7e9fd;
}

.student .student-data .card-text p {
  line-height: 1.3;
  font-size: 16px;
  padding: 0 30px;
}

@-webkit-keyframes hop {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hop {
  0% {
    opacity: 0.2;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.student .student-data-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 80px;
  opacity: 0;
}

.student .student-data-2 .student__data {
  width: 120px;
  margin-left: 30px;
  margin-right: 0;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5;
  font-size: 12px;
}

.student .student-data-2 img {
  background-color: #ddd;
  border-radius: 50%;
  max-width: none;
  width: 120px;
}

.student .student-data-2 .card-text {
  width: 60%;
  background-color: #c7e9fd;
  border-radius: 30px;
  padding: 0 20px;
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.student .student-data-2 .card-text::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  border: 15px solid transparent;
  border-left: 15px solid #c7e9fd;
  margin-right: -30px;
}

.student .student-data-2 .card-text p {
  line-height: 1.3;
  font-size: 16px;
  padding: 0 30px;
}

@media (max-width: 900px) {
  .student {
    margin-top: 80px;
  }
  .student .student__card {
    padding: 0 20px;
  }
  .student .student-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .student .student-data .student__data {
    margin: 0;
  }
  .student .student-data .card-text {
    margin-top: 50px;
    width: 100%;
  }
  .student .student-data .card-text::before {
    top: 100%;
    left: calc(50% + 15px);
    border: 15px solid transparent;
    border-top: 15px solid #c7e9fd;
  }
  .student .student-data .card-text p {
    padding: 40px 30px;
  }
  .student .student-data-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .student .student-data-2 .student__data {
    margin: 0;
  }
  .student .student-data-2 .card-text {
    margin-top: 50px;
    width: 100%;
  }
  .student .student-data-2 .card-text::after {
    top: 100%;
    right: calc(50% + 15px);
    border: 15px solid transparent;
    border-top: 15px solid #c7e9fd;
  }
  .student .student-data-2 .card-text p {
    padding: 40px 10px;
  }
}

@-webkit-keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

.school {
  background: url(./img/bg.gif) repeat;
  padding: 160px 0 60px 0;
  margin-top: 100px;
  -webkit-animation: fall 10s infinite linear;
          animation: fall 10s infinite linear;
}

.school__wrapper {
  max-width: 860px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.school__wrapper .card {
  width: 48%;
  background-color: #fff;
  margin-bottom: 34px;
  padding: 60px;
  border-radius: 30px;
}

.school__wrapper .card h3 {
  font-size: 36px;
  text-align: center;
}

.school__wrapper .card h3 span {
  font-size: 20px;
  display: block;
  margin-top: 20px;
}

.school__wrapper .card p {
  font-size: 16px;
  margin: 30px 10px 10px 0;
}

@media (max-width: 900px) {
  .school__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .school__wrapper .card {
    width: 100%;
    padding: 30px;
  }
}

.contact {
  padding: 150px 0;
  text-align: center;
}

.contact--text {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact--text span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin: 20px 0;
}

.contact a {
  display: block;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  margin-top: 30px;
  background-color: #fc2c2c;
  font-size: 24px;
  color: #fff;
  border-radius: 50px;
}

@media (max-width: 900px) {
  .contact {
    padding: 100px 50px;
  }
  .contact--text {
    font-size: 24px;
    line-height: 1.2;
  }
  .contact--text span {
    font-size: 1rem;
  }
  .contact .contact-btn {
    font-size: 20px;
  }
}

.footer {
  background-color: #e8e8e8;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0;
}

.footer__menu li p {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer__menu li a {
  display: block;
  margin-left: 18px;
  padding: 10px 0;
}

.footer--logo {
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 900px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 15px;
  }
  .footer__menu {
    padding-top: 50px;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */